<!DOCTYPE html>
<% reviews.forEach(function(review) { %>
  <article class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="<% %>">
      </p>
    </figure>

    <div class="media-content">
      <div class="content">
        <p>
           <small><%=album.title%></small><small><%=review.timestamp%></small>
          <br>
          <%= review.review %>

          <strong>John Smith</strong>
        </p>
      </div>
    </div>
    <div class="media-right">
      <form method="POST" action="/reviews/<%= review.id%>?_method=DELETE">
      <button class="delete"></button>
      </form>
    </div>
  </article>
<% })%>